.tree {
  min-height: 20px;
  padding: 19px;
  background-color: #fbfbfb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}
.tree li::before,
.tree li::after {
  content: "";
  left: -20px;
  position: absolute;
  right: auto;
}
.tree li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.tree li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 25px;
  width: 25px;
}
.tree li span:not(.glyphicon) {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 9px;
  text-decoration: none;
}
.tree li.parent_li > span:not(.glyphicon) {
  cursor: pointer;
}

.tree li:last-child::before {
  height: 30px;
}
.tree li.parent_li > span:not(.glyphicon):hover,
.tree li.parent_li > span:not(.glyphicon):hover + ul li span:not(.glyphicon) {
  background: #eee;
  border: 1px solid #999;
  padding: 3px 8px;
  color: #000;
}
.tree li span:not(.glyphicon) {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 9px;
  text-decoration: none;
  cursor: pointer;
}
.button {
  display: none;
}
.input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  margin-left: 10px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.wrapper:hover .button {
  display: inline-block;
}
.btn-circle {
  width: 33px;
  height: 33px;
  text-align: center;
  padding: 0px 0;
  font-size: 16px;
  border-radius: 20px;
}
